* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}



.padding {
  height: 10px;
}

.mobileNavButton {
  position: fixed;
  z-index: 40;
  top: 2%;
  left: 5%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  display: none;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px #c2c2c2;
  transition: left 0.5s, top 0.5s;
}

.mobileNavButton--active {
  left: 1%;
  top: 1%;
}
.mobileNav {
  display:none;
  position: fixed;
  z-index:5;
  top: 0;
  left: 0;
  height: 100vh;
  width: 50vw;
  padding: 0 3vw;
  background-color: white;
  box-shadow: 0 0 5px #d1d1d1;
  transition: transform 1s;
  transform: translateX(-50vw);
}

.mobileNav--active {
  transform: translateX(0);
}

.mobileNav__list__item {
  text-decoration: none;
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.mobileNav__list__item--brand {
  width: 100%;
  padding-top: 2.5vh;
  padding-bottom: 2vh;
  border-bottom: 1px solid grey;

  text-align: right;
}

.mobileNav__list__item--brand h1 {
  text-align: right;
}

.mobileNav__list__item__link {
  text-decoration: none;
  color: #009e9e;
  font-size: 1.3rem;
}

.mobileNav__list__item + .mobileNav__list__item {
  margin-top: 4vh;
}

.nav {
  position: -webkit-sticky;
  position: sticky;
  z-index:1;
  top: 0px;
  display: flex;
  align-items: center;
  padding: 1.5rem 0;
  background-color: white;
  box-shadow: 0 4px 2px -2px #e1e1e1;
  padding-left: 1rem;

}

.nav__list {
  display: flex;
  align-items: center;
  display: flex;
  flex-direction: row;
  max-width:1600px;
  width:100%;
  margin: 0 auto;
}

.nav__list__item {
  text-decoration: none;
  list-style-type: none;
}

.nav__list__item--brand {
  margin-right: 4rem;
}

.nav__list__item:not(:first-child) {
  margin-left: 5rem;
}

.nav__list__item:nth-of-type(2) {
  margin-left: 2rem;
}

.nav__list__item__link {
  color: #009e9e;
  text-decoration: none;
  transition: color 0.2s;
  font-size: 1.2rem;
}

.nav__list__item__link:hover {
  color: #008e8e;
}

.content__container{
  max-width:1600px;
  width:100%;
  margin:0 auto;
}


#start {
  margin-bottom:10rem;
}

.start__item {
  display: flex;
  gap: 10px;
}

.start__item__description {
  width: 50%;
}

.start__item__description__heading--primary {
  font-size: clamp(2rem, 1.2vw + 1.2rem, 3.5rem);
}

.start__item__description__heading--secondary {
  margin-top: 1rem;
  font-size: clamp(0.8rem, 0.8vw + 0.8rem, 2rem);
  color: rgba(0, 0, 0, 0.7);
}

.start__item__description__paragraph {
  margin-top: 0.7rem;
  font-size:clamp(0.5rem, .6vw + .6rem, 1rem);
  color: #a1a1a1;
}

.start__item__description__button {
  margin-top: 1rem;
  background-color: #009e9e;
  border-radius: 0.15rem;
  border-color: transparent;
  padding: 0.65rem 1.4rem;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.2s;
}

.start__item__description__button:hover {
  background-color: #008e8e;
}

.start__item__photo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.start__item__photo__item {
  display: block;
  height: auto;
  width: 100%;
}

.photo{
  position:relative;
  height:50vh;
  width:100%
  
}

.photo__title{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  font-size:clamp(2.5rem, 4vw + 1rem, 7rem);
  font-weight:bold;
  color:white;
  text-shadow: 1px 1px 3px #000;
}

.photo__img{
  display:block;
  width:100%;
  height:100%;
  object-fit: cover;

}

#about {
  margin-top:10rem;
}

.about__list__item__photo {
  margin-top: 1rem;
  height: 200px;
  background-color: #e1e1e1;
}

.about__list {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(1, 1fr);
}

.about__list__item__heading{
  font-size:clamp(0.8rem, 0.8vw + 0.8rem, 2rem)
}

.about__list__item__text {
  margin-top: 0.8rem;
  font-size:clamp(0.5rem, .6vw + .6rem, 1rem);
  color: #a1a1a1;
}

@supports not (gap: 10px) {
  .about__list__item:not(:first-child) {
    margin-left: 1rem;
  }
  .start__item__description {
    margin-right: 1rem;
  }
}

@media(max-width:1620px){
  
#start {
  margin:0 1rem 10rem;
}
#about {
  margin:3rem 1rem 10rem;
}
}

@media (max-width: 1023px) {
  .about__list {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .about__list {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .mobileNavButton {
    display: flex;
  }

  .nav {
    display: none;
  }

  .mobileNav{
    display:block;
  }

  #start {
    margin-bottom: 2rem;
  }

  .start__item {
    flex-direction: column;
  }

  .start__item__description {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .start__item__description__heading--primary {
    font-size: 2.5rem;
    text-align: center;
  }

  .start__item__description__heading--secondary {
    text-align: center;
  }

  .start__item__description__paragraph {
    text-align: center;
  }
  .start__item__description__button {
    margin: 2vh 0;
  }
  .start__item__photo {
    width: 100%;
  }

  .about__list {
    row-gap: 5vh;
  }

  .about__list__item__heading {
    text-align: center;
  }

  .about__list__item__text {
    text-align: center;
  }
}
